.menu
{
	display: flex;
	align-items: center;
	padding: 20px;
	background-color: #f5f5f5;
	border-bottom: 2px solid #000000;
}

.menu IMG
{
	width:150px;
	height:150px;
}

.menu .link
{
	padding-left:20px;
	font-size: 1.2rem;
	font-weight: bold;
}

BODY
{
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
